In [28]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

import warnings
warnings.filterwarnings("ignore")

In [111]:
driver = webdriver.Chrome(r"C:\Users\ponmani manoharan\Desktop\Data Trained\Internship\web scrapping\2\chromedriver.exe")

# Q1: Write a python program to scrape data for “Data Analyst” Job position.
In “Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.

In [4]:
def answer_one():
    #get the url
    url = "https://www.naukri.com/"
    driver.get(url)
    time.sleep(2)
    #search the input box using id
    search_job = driver.find_element_by_id("qsb-keyword-sugg")
    search_job.send_keys("Data Analyst")
    time.sleep(2)
    #search the location
    search_location = driver.find_element_by_id("qsb-location-sugg")
    search_location.send_keys("Bangalore")
    time.sleep(2)
    #click the button
    search_btn = driver.find_element_by_xpath("//button[@class ='btn']")
    search_btn.click()
    time.sleep(2)
    #search the title
    titles = driver.find_elements_by_xpath("//a[@class ='title fw500 ellipsis']")
    job_title = [x.text for x in titles]
    time.sleep(2)
    #search the company name
    comp = driver.find_elements_by_xpath("//a[@class = 'subTitle ellipsis fleft']")
    company  = [x.text for x in comp]
    time.sleep(2)
    #search the required experience
    exp = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi experience']//span")
    experience = [x.text for x in exp]
    time.sleep(2)
    #search the job location
    location = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi location']//span")
    job_location = [x.text for x in location]
    time.sleep(2)
    #return a dictionary 
    return dict(job_title = job_title[:10] , company_name = company[:10], experience_required = experience[:10], job_location = job_location[:10])

In [5]:
# get the dictionary
ans_one = answer_one()
#create pandas data frame
Question_one =  pd.DataFrame(dict([(keys, pd.Series(values)) for keys, values in ans_one.items()]))

In [6]:
Question_one

,job_title,company_name,experience_required,job_location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,Data Analyst - Informatica MDM,Shell India Markets Private Limited,6-9 Yrs,Bangalore/Bengaluru
2,Assistant Vice President - MIS & Reporting ( B...,INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,12-18 Yrs,"Mumbai, Bangalore/Bengaluru"
3,Data Analyst,Myntra Designs Pvt. Ltd.,3-6 Yrs,Bangalore/Bengaluru
4,Data Analyst,SA Tech Software (I) Pvt. Ltd.,1-3 Yrs,"Kolkata, Pune, Chennai, Bangalore/Bengaluru, D..."
5,Hiring For Data Analyst/ MIS Reporting Analyst...,PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd,2-4 Yrs,Bangalore/Bengaluru
6,Data analyst - Google Analytics,H and M Hennes and Mauritz (P) Ltd.,4-7 Yrs,Bangalore/Bengaluru
7,Senior/Regular Business Analyst / Data Analyst,Luxoft,3-6 Yrs,Bangalore/Bengaluru
8,Data Analyst,Flipkart Internet Private Limited,1-3 Yrs,Bangalore/Bengaluru
9,Hiring For Data Analyst @ Flipkart on Contract,Flipkart Internet Private Limited,2-6 Yrs,Bangalore/Bengaluru

# Q2: Write a python program to scrape data for “Data Scientist” Job position
In “Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data

In [18]:
def answer_two():
    #create empty list 
    urls = []
    desc = []
    #get the url
    url = "https://www.naukri.com/"
    driver.get(url)
    time.sleep(2)
    #search the input box uxing id of the html tag
    search_job = driver.find_element_by_id("qsb-keyword-sugg")
    search_job.send_keys("Data Scientist")
    time.sleep(2)
    #search the location using id of the html tag
    search_location = driver.find_element_by_id("qsb-location-sugg")
    search_location.send_keys("Bangalore")
    time.sleep(2)
    #click search button
    search_btn = driver.find_element_by_xpath("//button[@class ='btn']")
    search_btn.click()
    time.sleep(2)
    #search for the job title
    titles = driver.find_elements_by_xpath("//a[@class ='title fw500 ellipsis']")
    job_title = [x.text for x in titles]
    time.sleep(2)
    #search for the company name
    comp = driver.find_elements_by_xpath("//a[@class = 'subTitle ellipsis fleft']")
    company  = [x.text for x in comp]
    time.sleep(2)
    #search for the job_location
    location = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi location']//span")
    job_location = [x.text for x in location]
    time.sleep(2)
    #using a for loop to ectract urls
    for i in driver.find_elements_by_xpath("//div[@class ='info fleft']/a"):
        urls.append(i.get_attribute('href'))
    time.sleep(2)
    #using the extracted urls find full job description.
    for i in urls[:10]:
        driver.get(i)
        time.sleep(4)
        try:
            job_decription = driver.find_element_by_xpath("//section[@class = 'job-desc']") 
            desc.append(job_decription.text)
        except NoSuchElementException:
            desc.append('-')
    time.sleep(2)
    #return a dictionary 
    return dict(job_title = job_title[:10], company = company[:10], job_location = job_location[:10], job_description = desc)

In [19]:
# get the dictionary
ans_two = answer_two()
#create pandas DataFrame
Question_two =  pd.DataFrame(dict([(keys, pd.Series(values)) for keys, values in ans_two.items()]))
Question_two

,job_title,company,job_location,job_description
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Job description\nJob Role : Data Scientist/Dat...
1,"Senior Data Scientist, Modeling",Nielsen,"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...",Job description\nWe wont say we can predict th...
2,Big Data - Data Scientist,Xoriant Solutions Pvt Ltd,"Kochi/Cochin, Indore, Hyderabad/Secunderabad, ...",-
3,Specialist I - Data Scientist,Philips India Limited,Bangalore/Bengaluru,Job description\nResponsibilities and Key Resu...
4,Data Scientist,IBM India Pvt. Limited,Bangalore/Bengaluru,-
5,Lead Data Scientist,Intel Technology India Pvt Ltd,Bangalore/Bengaluru,Job description\n\n\nWe are seeking an outstan...
6,Data Scientist,Oracle India Pvt. Ltd.,Bangalore/Bengaluru,-
7,SDE Lead Data Scientist-L3,Huawei Technologies India Pvt Ltd,Bangalore/Bengaluru,Job description\nBusiness & Team overview:\nFo...
8,Computational Design Lead Data Scientist-L3,Huawei Technologies India Pvt Ltd,Bangalore/Bengaluru,Job description\nBusiness & Team overview:\nFo...
9,Hiring For DATA Scientist - ON Contract Basis ...,GlobalEdx Learning and Technology Solution Pvt...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...","Job description\nDear Aspirant,\n\nGreetings f..."

# Q3: In this question you have to scrape data using the filters 
You have to scrape data for “Data Scientist” designation for first 10 job results.

In [20]:
def answer_three():
    #fetch the url
    url = "https://www.naukri.com/"
    driver.get(url)
    time.sleep(2)
    #search the input box using id of html tag
    search_job = driver.find_element_by_id("qsb-keyword-sugg")
    search_job.send_keys("Data Scientist")
    time.sleep(2)
    #click the search button using id of html tag
    search_btn = driver.find_element_by_xpath("//button[@class ='btn']")
    search_btn.click()
    time.sleep(2)
    #filter funtion to slect specific categories 
    filter_button_one = driver.find_elements_by_xpath("//p[@class = 'grey-text lH20 fleft ml-8 txtLbl']/span")
    #for loop used to select on option from multiple options
    for x in filter_button_one:
        if x.text == 'Delhi / NCR':
            x.click()
            break
    time.sleep(3)
    #try-catch block to identify exceptions
    try:
        for x in filter_button_one:
            if x.text == '3-6 Lakhs':
                x.click()
                break
    except StaleElementReferenceException as e:
        print("Exception raised: ", e)
    #search to extract title
    titles = driver.find_elements_by_xpath("//a[@class ='title fw500 ellipsis']")
    job_title = [x.text for x in titles]
    time.sleep(2)
    #search to extract company name
    comp = driver.find_elements_by_xpath("//a[@class = 'subTitle ellipsis fleft']")
    company  = [x.text for x in comp]
    time.sleep(2)
    #search to extract location
    location = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi location']//span")
    job_location = [x.text for x in location]
    time.sleep(2)
    #search to extract exp
    exp = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi experience']//span")
    experience = [x.text for x in exp]
    time.sleep(2)
    #returns adictionary 
    return dict(job_title = job_title[:10], company_name = company[:10], experience_required = experience[:10], job_location = job_location[:10])

In [21]:
# get the dictionary
ans_three = answer_three()
# create pandas data frame
Question_three = pd.DataFrame(dict([(keys, pd.Series(values)) for keys, values in ans_three.items()]))
Question_three

Exception raised:  Message: stale element reference: element is not attached to the page document
  (Session info: chrome=90.0.4430.212)

,job_title,company_name,experience_required,job_location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,Senior Data Scientist,Decision Point,3-6 Yrs,"Gurgaon/Gurugram, Chennai"
2,Data Scientist,Burgeon IT Services Pvt ltd,6-11 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,..."
3,Data Scientist For an AI Product (Work from Home),Biz HR IT Solutions,3-5 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai..."
4,"Senior Data Scientist, Modeling",Nielsen,3-7 Yrs,"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru..."
5,Sr. Data Scientist - AutoML,TransOrg Analytics,5-8 Yrs,Gurgaon/Gurugram
6,Data Scientist,TransOrg Analytics,3-6 Yrs,"Mumbai, Gurgaon/Gurugram"
7,Data Scientist,Platlap Solutions,5-10 Yrs,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben..."
8,Business Analyst- Data Scientist,Wipro,2-5 Yrs,"Noida, Gurgaon/Gurugram"
9,Sr. Data Scientist,VALIANCE ANALYTICS PRIVATE LIMITED,6-8 Yrs,"Bangalore/Bengaluru, Delhi / NCR"

# Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location.

In [34]:
def answer_four():
    #fetch the url
    url = "https://www.glassdoor.co.in/index.htm"
    driver.get(url)
    time.sleep(60)
    #search the input box using id of the html tag
    search_job = driver.find_element_by_id("sc.keyword")
    search_job.send_keys("Data Scientist")
    time.sleep(2)
    #search the input box using id of the html tag
    search_location = driver.find_element_by_id("sc.location")
    search_location.send_keys("Noida")
    time.sleep(2)
    #clcik button using id og html tag
    search_btn = driver.find_element_by_xpath("//button[@class ='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
    search_btn.click()
    time.sleep(2)
    # extract the name
    name = driver.find_elements_by_xpath("//a[@class =' css-l2wjgv e1n63ojh0 jobLink']/span")
    company = [x.text for x in name]
    time.sleep(2)
    #extract the days
    days = driver.find_elements_by_xpath("//div[@class ='d-flex align-items-end pl-std css-mi55ob']")
    no_of_days = [x.text for x in days]
    time.sleep(2)
    #extract ratings
    ratings = driver.find_elements_by_xpath("//span[@class ='css-19pjha7 e1cjmv6j1']")
    rate = [x.text for x in ratings]
    time.sleep(2)
    #return a dictionary 
    return  dict(company_name = company[:10], no_of_days = no_of_days[:10], ratings = rate[:10])

In [35]:
# get the dictionary
ans_four = answer_four()
#create pandas datafarame
Question_four = pd.DataFrame(dict([(keys, pd.Series(values)) for keys, values in ans_four.items()]))
Question_four

             company_name no_of_days ratings
0      Apsidata Solutions         5d     4.3
1                   Adobe        24h     4.4
2                Ericsson         1d     4.1
3          Biz2Credit Inc       30d+     3.8
4                Techlive       30d+     5.0
5               dunnhumby        24h     4.1
6  Data Trained Education         3d     3.6
7                 CRMNEXT        14d     4.4
8                   Adobe        26d     4.0
9            Khan Academy        24h     3.6

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.

In [75]:
def answer_five():
    #get url
    url = "https://www.glassdoor.co.in/Salaries/index.htm"
    driver.get(url)
    time.sleep(20)
    #search using id
    search_job = driver.find_element_by_id("KeywordSearch")
    search_job.send_keys("Data Scientist")
    time.sleep(2)
    #search using id
    search_location = driver.find_element_by_id("LocationSearch")
    search_location.send_keys("Noida")
    time.sleep(2)
    #click using id
    search_btn = driver.find_element_by_id("HeroSearchButton")
    search_btn.click()
    time.sleep(2)
    #extract comapny name
    titles = driver.find_elements_by_xpath("//a[@class ='css-f3vw95 e1aj7ssy3']")
    company = [x.text for x in titles]
    time.sleep(2)
    #extract salaries
    number_of_salaries = driver.find_elements_by_xpath("//div[@class='col-12 col-lg-auto']/span")
    number_salaries = [x.text for x in number_of_salaries]
    time.sleep(2)
    #extract avergae salaries
    average_salary = driver.find_elements_by_xpath("//div[@class = 'col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']")
    average = [x.text.replace("\n", "") for x in average_salary]
    time.sleep(2)
    #extract min sal
    min_sal = driver.find_elements_by_xpath("//div[@class ='d-flex mt-xxsm css-79elbk epuxyqn0']/p[1]")
    mini = [x.text for x in min_sal]
    time.sleep(2)
    #extract max salary
    max_sal = driver.find_elements_by_xpath("//div[@class ='d-flex mt-xxsm css-79elbk epuxyqn0']/p[2]")
    maxi = [x.text for x in max_sal]
    time.sleep(2)
    #return dictionary 
    return (dict(company_name = company[:10], salaries = number_salaries[:10], average_salary = average[:10], minimum = mini[:10], maximum = maxi[:10] ))

In [76]:
ans_five = answer_five()
#create pandas dataframe
Question_Five = pd.DataFrame(dict([(keys, pd.Series(values)) for keys, values in ans_five.items()]))
Question_Five

                company_name     salaries   average_salary  minimum   maximum
0  Tata Consultancy Services  17 salaries   ₹ 6,14,306 /yr    ₹343K   ₹1,250K
1                  Accenture  14 salaries  ₹ 11,46,533 /yr    ₹577K   ₹2,213K
2                        IBM  14 salaries   ₹ 8,97,795 /yr    ₹586K   ₹2,730K
3         Ericsson-Worldwide  14 salaries   ₹ 7,38,057 /yr    ₹355K   ₹1,613K
4                  Delhivery  14 salaries  ₹ 12,39,781 /yr    ₹450K  ₹11,622K
5         UnitedHealth Group  11 salaries  ₹ 13,36,142 /yr  ₹1,069K   ₹1,520K
6         Valiance Solutions   9 salaries   ₹ 8,15,192 /yr    ₹502K   ₹1,465K
7              ZS Associates   8 salaries  ₹ 11,35,221 /yr    ₹202K   ₹1,809K
8                EXL Service   8 salaries  ₹ 11,44,243 /yr    ₹575K   ₹1,520K
9     Optum Global Solutions   8 salaries  ₹ 14,13,288 /yr  ₹1,014K   ₹2,149K

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes

In [86]:
def answer_six():
    #create empty lists
    urls = []
    b = []
    p = []
    d = []
    pd = []   
    #get url
    driver.get("https://www.flipkart.com/")
    time.sleep(3)
    #search products using tag name 
    search_product = driver.find_element_by_tag_name("input")
    search_product.send_keys("sunglasses")
    time.sleep(3)
    #click search button using xpath
    search_btn = driver.find_element_by_xpath("//button[@class = 'L0Z3Pu']")
    search_btn.click()
    time.sleep(3)
    #extract brand name
    brand_name = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    brand = [x.text for x in brand_name]
    time.sleep(3)
    #extract price
    price_all = driver.find_elements_by_xpath("//div[@class = '_30jeq3']")
    price = [x.text for x in price_all]
    time.sleep(3)
    #extract discount
    discount = driver.find_elements_by_xpath("//div[@class = '_3Ay6Sb']/span")
    discounts = [x.text for x in discount]
    time.sleep(3)
    #extract description 
    product_description = driver.find_elements_by_xpath("//a[@class= 'IRpwTa']")
    prod = [x.text for x in product_description]
    time.sleep(3)
    #extract urls
    for i in driver.find_elements_by_xpath("//nav[@class ='yFHi8N']/a"):
        urls.append(i.get_attribute('href'))
    urls = urls[1:10]
    time.sleep(3)
    #try-catch to extract brand name for different urls 
    try:
        for x in urls:
            driver.get(x)
            time.sleep(3)
            b_n = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
            for i in b_n:
                b.append(i.text)
    except StaleElementReferenceException as e:
        print("Exception raised: ",e)
    time.sleep(5)
    brand = brand + b
    time.sleep(5)
    #try-catch to extract price for different urls
    try:
        for x in urls:
            driver.get(x)
            time.sleep(3)
            price_all = driver.find_elements_by_xpath("//div[@class = '_30jeq3']")
            for i in price_all:
                p.append(i.text)        
    except StaleElementReferenceException as e:
            print("Exception raised: ",e)
    time.sleep(5)
    price = price+p
    time.sleep(5)
    #try-catch to extract dicount for different urls
    try:
        for x in urls:
            driver.get(x)
            time.sleep(3)
            discount = driver.find_elements_by_xpath("//div[@class = '_3Ay6Sb']/span")
        for i in discount:
            d.append(i.text)                                   
    except StaleElementReferenceException as e:
        print("Exception raised: ",e)
    time.sleep(5)
    discounts = discounts +d
    time.sleep(5)
    #try-catch to extract description for different urls
    try:
        for x in urls:
            driver.get(x)
            time.sleep(3)
            product_description = driver.find_elements_by_xpath("//a[@class= 'IRpwTa']")
        for i in product_description:
            pd.append(i.text)
    except StaleElementReferenceException as e:
        print("Exception raised: ",e)
    time.sleep(5)
    prod = prod+pd
    time.sleep(5)
    #return dictionary
    return(dict(brand = brand[:100], price = price[:100], discounts = discounts[:100], description = prod[:100]))

In [87]:
#get_dictionary
ans_six = answer_six()
#create dataframe
sunglasses = pd.DataFrame(dict([(keys, pd.Series(values)) for keys, values in ans_six.items()]))

In [89]:
sunglasses.head(5)

,brand,price,discounts,description
0,EYEXACK,₹319,84% off,"UV Protection, Mirrored, Gradient, Riding Glas..."
1,bulgaria,₹449,55% off,Others Rectangular Sunglasses (Free Size)
2,Fastrack,₹630,21% off,UV Protection Rectangular Sunglasses (Free Size)
3,ROZZETTA CRAFT,₹499,77% off,UV Protection Retro Square Sunglasses (Free Size)
4,ROZZETTA CRAFT,₹404,79% off,"UV Protection, Gradient Rectangular Sunglasses..."

# Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [96]:
def answer_seven():
    #create empty list
    urls = []
    #get url
    url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"
    driver.get(url)
    time.sleep(3)
    #click button
    expand_btn = driver.find_element_by_xpath("//div[@class ='_3UAT2v _16PBlm']/span")
    expand_btn.click()
    time.sleep(3)
    #extract review
    review = driver.find_elements_by_xpath("//p[@class = '_2-N8zT']")
    reviews = [x.text for x in review]
    time.sleep(3)
    #extract ratings
    rating = driver.find_elements_by_xpath("//div[@class = '_3LWZlK _1BLPMq']")
    rate = [x.text for x in rating]
    time.sleep(3)
    #extract full reviews 
    full = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    full_review = [x.text for x in full]
    time.sleep(3)
    #extract urls
    for x in driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a"):
        urls.append(x.get_attribute('href'))
    urls = urls[2:11]
    rev = []
    #try-catch block to extract review from differnt urls
    try:
        for x in urls:
            driver.get(x)
            time.sleep(3)
            review = driver.find_elements_by_xpath("//p[@class = '_2-N8zT']")
            for i in review:
                rev.append(i.text)
    except StaleElementReferenceException as e:
        print("Exception raised: ",e)
    time.sleep(3)
    reviews = reviews + rev
    rat = []
    #try-catch block to extract rating differnt urls
    try:
        for x in urls:
            driver.get(x)
            time.sleep(3)
            rating = driver.find_elements_by_xpath("//div[@class = '_3LWZlK _1BLPMq']")
            for i in rating:
                 rat.append(i.text)
    except StaleElementReferenceException as e:
        print("Exception raised: ",e)
    time.sleep(3)
    rate = rate + rat
    f = []
    #try-catch block to extract full-review from differnt urls
    try:
        for x in urls:
            driver.get(x)
            time.sleep(3)
            full = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
            for i in full:
                 f.append(i.text)
    except StaleElementReferenceException as e:
        print("Exception raised: ",e)
    time.sleep(3)
    full_review = full_review + f
    #returns dictionary
    return(dict(Reviews = reviews[:100], Ratings = rate[:100], full_review = full_review[:100]))

In [97]:
#gets dictionary
ans_seven = answer_seven()
#create datafarame
Iphone = pd.DataFrame(dict([(keys, pd.Series(values)) for keys, values in ans_seven .items()]))
Iphone

,Reviews,Ratings,full_review
0,Brilliant,5,The Best Phone for the Money\n\nThe iPhone 11 ...
1,Perfect product!,5,Amazing phone with great cameras and better ba...
2,Great product,5,Amazing Powerful and Durable Gadget.\n\nI’m am...
3,Worth every penny,5,Previously I was using one plus 3t it was a gr...
4,Good choice,4,So far it’s been an AMAZING experience coming ...
...,...,...,...
95,Terrific,5,Really worth of money. i just love it. It is t...
96,Highly recommended,5,It's my first time to use iOS phone and I am l...
97,Classy product,5,Superb Product !!!\nA big and worthy upgrade f...
98,Wonderful,NaN,This is my first ever I phone. Before this I w...
99,Brilliant,NaN,"I have migrated from OP 7pro... and trust me, ..."

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [98]:
def answer_eight():
    #get url
    driver.get("https://www.flipkart.com/")
    time.sleep(3)
    #search product by tag name
    search_product = driver.find_element_by_tag_name("input")
    search_product.send_keys("sneakers")
    time.sleep(3)
    #click search button
    search_btn = driver.find_element_by_xpath("//button[@class = 'L0Z3Pu']")
    search_btn.click()
    time.sleep(3)
    #extarct brand name
    brand_name = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    brand = [x.text for x in brand_name]
    time.sleep(3)
    #extract price
    price_all = driver.find_elements_by_xpath("//div[@class = '_30jeq3']")
    price = [x.text for x in price_all]
    time.sleep(3)
    #extract discount
    discount = driver.find_elements_by_xpath("//div[@class = '_3Ay6Sb']/span")
    discounts = [x.text for x in discount]
    time.sleep(3)
    #extract product description 
    product_description = driver.find_elements_by_xpath("//a[@class= 'IRpwTa']")
    prod = [x.text for x in product_description]
    time.sleep(3)
    urls = []
    #extarct urls
    for i in driver.find_elements_by_xpath("//nav[@class ='yFHi8N']/a"):
        urls.append(i.get_attribute('href'))
    urls = urls[1:10]
    b = []
    #try-catch block to extract brand name from differnt urls
    try:
        for x in urls:
            driver.get(x)
            time.sleep(3)
            b_n = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
            for i in b_n:
                 b.append(i.text)
    except StaleElementReferenceException as e:
        print("Exception raised: ",e)
    time.sleep(3)
    p = []
    #try-catch block to extract price from differnt urls
    try:
        for x in urls:
            driver.get(x)
            time.sleep(3)
            price_all = driver.find_elements_by_xpath("//div[@class = '_30jeq3']")
            for i in price_all:
                p.append(i.text)



    except StaleElementReferenceException as e:
        print("Exception raised: ",e)
    time.sleep(3)
    d = []
    #try-catch block to extract discount from differnt urls
    try:
        for x in urls:
            driver.get(x)
            time.sleep(3)
            discount = driver.find_elements_by_xpath("//div[@class = '_3Ay6Sb']/span")

            for i in discount:
                d.append(i.text)



    except StaleElementReferenceException as e:
        print("Exception raised: ",e)
    time.sleep(3)
    pd = []
    #try-catch block to extract product description from differnt urls
    try:
        for x in urls:
            driver.get(x)
            time.sleep(3)
            product_description = driver.find_elements_by_xpath("//a[@class= 'IRpwTa']")
            for i in product_description:
                pd.append(i.text)



    except StaleElementReferenceException as e:
        print("Exception raised: ",e)
    time.sleep(3)
    #combining the lists 
    brand = brand + b
    price = price+p
    discounts = discounts +d
    prod = prod+pd
    #return dictionary 
    return(dict(brand = brand[:100], price = price[:100], discounts = discounts[:100], description = prod[:100]))

In [101]:
#get dictionary
ans_eight = answer_eight()
#create pandas dataframe
sneakers = pd.DataFrame(dict([(keys, pd.Series(values)) for keys, values in ans_eight.items()]))

In [102]:
sneakers

,brand,price,discounts,description
0,HOTSTYLE,₹299,40% off,Sneakers For Men
1,TR,₹599,70% off,Sneakers For Men
2,Robbie jones,₹379,62% off,Casual Sneakers Shoes For Men Sneakers For Men
3,Numenzo,₹398,60% off,Sneakers For Men
4,ORICUM,₹377,62% off,Combo pack of 2 casual sneaker shoes for men S...
...,...,...,...,...
95,BRUTON,₹299,76% off,Ascend Lite Sneakers For Men
96,Zorth,₹599,40% off,Sneakers For Men
97,SHOELIFE,₹449,55% off,Men Boxer Sneakers For Men
98,ESSENCE,₹442,55% off,Fashionable casual sneakers shoes Sneakers For...
99,BRUTON,₹419,50% off,casual for men (beige 06) Sneakers For Men

# Q9 : scraping myntra website.

In [106]:
def answer_nine():
    #get url
    url = "https://www.myntra.com/shoes"
    driver.get(url)
    time.sleep(3)
    #click the fliters
    driver.find_elements_by_xpath("//*[@id='mountRoot']/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")[0].click()
    driver.find_elements_by_xpath("//*[@id='mountRoot']/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")[0].click()
    time.sleep(3)
    #get brand name
    brand = driver.find_elements_by_xpath("//h3[@class ='product-brand']")
    b = [x.text for x in brand ]
    time.sleep(3)
    #get descrtion
    desc = driver.find_elements_by_xpath("//h4[@class ='product-product']")
    d = [x.text for x in desc ]
    time.sleep(3)
    #extract price
    price = driver.find_elements_by_xpath("//div[@class ='product-price']/span[1]")
    p = [x.text for x in price]
    time.sleep(3)
    #extract urls 
    urls = []
    for j in driver.find_elements_by_xpath("//ul[@class ='pagination-container']/li/a"):
        urls.append(j.get_attribute('href'))
    time.sleep(3)
    urls = urls[2:11]
    b_1 = []
    #try-catch block to extract brand name from differnt urls
    try:
        for x in urls:
            driver.get(x)
            time.sleep(3)
            brand = driver.find_elements_by_xpath("//h3[@class ='product-brand']")
            for i in brand:
                 b_1.append(i.text)



    except StaleElementReferenceException as e:
        print("Exception raised: ",e)
    time.sleep(3)
    d_1 = []
    #try-catch block to extract desc from differnt urls
    try:
        for x in urls:
            driver.get(x)
            time.sleep(3)
            desc = driver.find_elements_by_xpath("//h4[@class ='product-product']")
            for i in desc:
                 d_1.append(i.text)



    except StaleElementReferenceException as e:
        print("Exception raised: ",e)
    time.sleep(3)
    p_1 = []
    #try-catch block to extract price from differnt urls
    try:
        for x in urls:
            driver.get(x)
            time.sleep(3)
            price = driver.find_elements_by_xpath("//div[@class ='product-price']/span[1]")
            for i in price:
                 p_1.append(i.text)



    except StaleElementReferenceException as e:
        print("Exception raised: ",e)
    time.sleep(3)
    #combine lists
    brand_name = b+b_1
    description = d+d_1
    price = p+p_1
    #return dictionary
    
    return(dict(brand = brand_name[:100], price = price[:100],  description = description[:100]))

In [107]:
#get dictionary
ans_nine = answer_nine()
#create dataframe
black_sneakers = pd.DataFrame(dict([(keys, pd.Series(values)) for keys, values in ans_nine.items()]))
black_sneakers

                 brand             price                    description
0              Shezone    Rs. 699Rs. 999  Women Animal Print Ballerinas
1   Street Style Store    Rs. 599Rs. 799           Women Open Toe Flats
2           Marc Loire   Rs. 983Rs. 2399                    Women Pumps
3              Catwalk  Rs. 1361Rs. 2095                  Women Sandals
4           Marc Loire   Rs. 987Rs. 2599      Women Shimmer Block Heels
..                 ...               ...                            ...
95                Nike  Rs. 2114Rs. 4499             Women Heeled Boots
96                Puma  Rs. 2399Rs. 3999           Women Open Toe Flats
97            Skechers  Rs. 3374Rs. 4499   Men Running Slip-On Sneakers
98                Puma  Rs. 1649Rs. 2999  Women CITY TRAINER 3 Training
99                Nike  Rs. 2499Rs. 4999           Men X_PLR S Sneakers

[100 rows x 3 columns]

# Q10: Enter “Laptop” in the search field and then click the search icon.

In [112]:
#get the url
url = "https://www.amazon.in/"
driver.get(url)
time.sleep(3)
#search the procuct using id
search_prod = driver.find_element_by_id("twotabsearchtextbox")
search_prod.send_keys("Laptop")
time.sleep(3)
#click on search button
search_icon = driver.find_element_by_id("nav-search-submit-button")
search_icon.click()
time.sleep(3)
#activate the filter for i7
driver.find_elements_by_xpath("//*[@id='p_n_feature_thirteen_browse-bin/12598163031']/span/a")[0].click()

In [113]:
def amazon_laptop_i7():
    #extract the title
    title = driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
    laptop_title = [x.text for x in title]
    time.sleep(3)
    time.sleep(3)
    #extract the price
    price = driver.find_elements_by_xpath("//span[@class = 'a-price-whole']")
    laptop_price = [x.text for x in price]
    return dict(laptop_title = laptop_title,  laptop_price=laptop_price)

In [114]:
i7 = amazon_laptop_i7()

In [116]:
#clear filter
driver.find_elements_by_xpath("//*[@id='filters']/ul[1]/li[1]/span/a/span[1]")[0].click()

In [117]:
#new fiilter for i9
driver.find_elements_by_xpath("//*[@id='p_n_feature_thirteen_browse-bin/16757432031']/span/a/span")[0].click()

In [118]:
def amazon_laptop_i9():
    title = driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
    laptop_title_1 = [x.text for x in title]
    #extract the title
    time.sleep(3)
    time.sleep(3)
    #extract the title
    price = driver.find_elements_by_xpath("//span[@class = 'a-price-whole']")
    laptop_price_1 = [x.text for x in price]
    return dict(laptop_title = laptop_title_1, laptop_price=laptop_price_1)

In [119]:
i9 =  amazon_laptop_i9()

In [120]:
i7_data = pd.DataFrame(dict([(keys, pd.Series(values)) for keys, values in i7.items()]))

In [121]:
i9_data = pd.DataFrame(dict([(keys, pd.Series(values)) for keys, values in i9.items()]))

In [124]:
final_df = pd.concat([i7_data,i9_data], axis=0)

In [125]:
#concantinated data.
final_df

                                         laptop_title laptop_price
0   Dell G3 3500 Gaming 15.6inch ( 39.62 cms) 120h...       82,490
1   Lenovo Yoga Slim 7 10th Gen Intel Core i7 14 i...       83,990
2   Mi Notebook Horizon Edition 14 Intel Core i5-1...       53,999
3   HP Pavilion x360 (2021) 14" (35.56cms) FHD Tou...       78,593
4   HP Pavilion Gaming 10th Gen Intel Core i7 Proc...     3,43,099
5   Asus ROG Zephyrus S Ultra Slim Gaming Laptop, ...       69,990
6   Acer Nitro 5 Intel Core i7-9th Gen 17.3-inch D...     1,35,490
7   Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6"...       96,000
8   Asus ZenBook UX330 UX330UA-FB088T 13.3-inch La...       80,980
9   ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...       29,990
10  Life Digital Laptop 15.6-inch (39.62 cms) (Int...     1,34,999
11  OMEN by HP 15.6-inch 10th Gen Intel Core i7-10...       99,499
12  Dell Gaming-G3 3590 15.6-inch FHD Laptop (9th ...       46,290
13  (Renewed) Lenovo Intel 4th Gen Core i7-4980HQ ...       83,990
14  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...     1,19,499
15  Lenovo Yoga 7 11th Gen Intel Core i7 14" (35.5...       61,799
16  (Renewed) Dell Intel 6th Gen Core i7-6820HQ 15...       84,990
17  HP Pavilion Gaming 10th Gen Intel Core i7 Proc...       34,000
18  (Renewed) Dell Latitude E6420 14 Inch Laptop (...       77,990
19  Lenovo IdeaPad Gaming 3 10th Gen Intel Core i7...       65,299
20  (Renewed) Dell Latitude E7470 14-inch Laptop (...       97,990
21  Lenovo Yoga Slim 7i 11th Gen Intel Core i7 14"...       98,440
22  (Renewed) Dell XPS Intel 8th Gen Core i7 13.3-...       83,990
23  HP Pavilion (2021) Thin & Light 11th Gen Core ...       37,999
24  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...       24,990
25  (Renewed) Lenovo T430 14-inch Laptop (Core i7/...     2,16,327
26  Life Digital Laptop 15.6-inch (39.62 cms) (Int...       91,999
27  Lenovo 2019 Yoga C930 2-in-1 13.9" 4K UHD Touc...       80,990
28  Acer Swift 5 14" (35.56cms) Full HD IPS Displa...          NaN
29  Acer Swift 3X 14" FHD IPS Display Ultra Thin a...          NaN
0   HP 15 (2021) Thin & Light 11th Gen Core i3 Lap...       42,499
1   HP 15 (2021) Thin & Light Ryzen 3-3250 Laptop,...       35,695
2   HP 15 Entry Level 15.6-inch (39.62 cms) HD Lap...       26,611
3   HP 15 Intel Pentium Gold 6405U Processor Entry...       24,990
4   Lenovo IdeaPad Slim 3 Intel Celeron N4020 15.6...       26,999
5   ASUS VivoBook 14 (2020) Intel Quad Core Pentiu...       42,499
6   HP 15 AMD Athlon 15.6" (39.62cms) HD Laptop (S...       19,800
7   HP 15 (2021) Thin & Light 11th Gen Core i3 Lap...       50,769
8   AVITA Essential NE14A2INC433-MB 14" (35.56cms)...       39,939
9   HP 15(2021) 5th Gen Ryzen 5 5500U Laptop with ...       25,990
10  Dell Inspiron 3501 15.6" (39.62 cms) FHD AG Di...       59,970
11  HP Chromebook 14a-na0003TU 14-inch (35.56 cms)...       36,990
12  HP 15 (2021) Thin & Light 11th Gen Core i5 Lap...       25,990
13  HP 14 Ultra Thin & Light 14" (35.56cms) Laptop...       67,990
14  HP Chromebook 14a-na0002TU Laptop (Celeron N40...       29,390
15  HP Pavilion (2021) Thin & Light 11th Gen Core ...       29,740
16  (Renewed) HP Elitebook Laptop 640G1 Intel Core...       19,990
17  Lenovo Ideapad Slim 3 AMD Athlon Silver 3050U ...       44,490
18  (Renewed) Fujitsu Intel Core i5 3340M 15.6-Inc...       34,990
19  Lenovo IdeaPad S145 10th Gen Intel Core i5 15....       30,873
20  ASUS VivoBook 14 (2020) Intel Core i3-1005G1 1...       51,490
21  Lenovo Ideapad Slim 3 AMD Ryzen 3 15.6 inch (3...       51,390
22  Dell Inspiron 3505 15.6" FHD Display Laptop (R...       35,990
23  HP 14 4th Gen Ryzen 5 5500U 14-inch(35.6 cm) F...       22,990
24  Lenovo IdeaPad Slim 3 10th Gen Intel Core i3 1...       40,990
25  ASUS VivoBook 15 (2020), 39.6 cm HD, Dual Core...       62,999
26  HP 15 (2021) Thin & Light Ryzen 3-3250 Laptop,...       50,856
27  Asus X509MA-BR270T/ Silver/ Intel Celeron N402...          NaN
28  HP 15 Thin & Light 15.6" (39.62cms) FHD Laptop...          NaN
29  Lenovo IdeaPad Flex 5 11th Gen Intel Core i3 1...          NaN